<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course List</title>
</head>
<body>

    {% if full %}
        <h1>Sorry, the course is full.</h1>
    {% else %}
        <h1>Select the course.</h1>
    {% endif %}

    <h2>Course List</h2>
    <ul>
    {% for taking in takings %}
        <li><a href="{% url 'query' taking.id %}">{{ taking.current_course }}</a> | Total Seats: {{ taking.seats }}</li>
    {% empty %}
        <li>No courses found</li>
    {% endfor %}
    </ul>

    <a href="{% url 'index' %}">Back to User page</a>
</body>
</html>